.App {
  padding-top: 10px;
  text-align: center;
  background-color: rgb(26, 25, 25);
  color: #000000;
  align-content: center;
}

.logo{
  max-height: 10vh;
}
.Navbar {
  font-size: 30px;
}
.SingleReview {
  margin-top: 1vh;
  border-top: 4px solid rgb(26, 25, 25);
  background-color: #ebeceb;
}

.ReviewList {
  margin-top: 1vh;
  border-top: 4px solid rgb(26, 25, 25);
  background-color: #ebeceb;
}
.imageSection {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 40vw;
  height: 25vh;
}

.ReviewImg {
  max-width: 50vw;
  max-height: 30vh;
}

.Reviews {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;

  width: 20vw;
  height: 25vh;
  padding: 1vh;
  margin: 2vh;
  border: 10px groove rgb(180, 35, 35);
  background-color: #ebeceb;
}

.reviewBody {
  margin: 30px;
}

.ReviewTitle {
  width: 20vw;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AllReviewsImg {
  max-width: 15vw;
  max-height: 15vh;
}

.ArrowButton {
  max-height: 3vh;
  display: flex;
  justify-content: bottom;
  align-items: bottom;
  padding: 20px;
  padding-top: 12vh;
}

.CommentsBox {
  text-align: left;
  border-top: 4px solid rgb(26, 25, 25);
  padding: 2vh;
  min-height: 38vh;
}

.reviewOwner{
  text-decoration: underline;
}

.CommentAuthor {
  text-decoration: underline;
}

.CommentVotes{
  font-size: 60px;
}

.ThumbsUp {
  max-height: 50px;
}

.CommentTitle {
  text-decoration: underline;
}

.users_link {
  align-self: right;
  padding: 10px;
  margin: 10px;
  color: white
}

.review_link{
    align-self: right;
    padding: 10px;
    margin: 10px;
    color: white
  
}