.App {
  padding-top: 10px;
  text-align: center;
  background-color: rgb(26, 25, 25);
  color: #000000;
  align-content: center;
  max-height: 100vh;
}

.Navbar{
  padding-bottom: 1vh;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

}

.LoggedIn{
  font-size: small;
  color: white;
 margin-left: 100vh;
}

.Home {
  background-color: white;
  padding-top: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
  
}

.Instructions{
  text-align: left;
  line-height: 4vh;
  border-top: solid 1px black;
}

.Users {
  background-color: white;
  padding-top: 2vh;
}
.users{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 20vw;
  height: 25vh;
  padding: 1vh;
  margin: 2vh;
  border: 1vh inset rgb(180, 35, 35);
}


.userImg{
  max-height: 15vh;
  max-width: 15vh;
}
.Nav_link{
  color:rgb(0, 0, 0);
}

.logo {
  max-height: 10vh;
  max-width: 20vh;
}
.Navbar {
  font-size: 3vh;
  margin-left: auto;
  margin-right: auto;
}

.CategoryList {
  color: #ebeceb;
  font-size: 20px;
  display: inline-flex;
  flex-direction: row;
}

.EachCategory:hover {
  color: rgb(26, 25, 25);
  background-color: #ebeceb;
}

.EachCategory {
  font-size: 1vh;
  color: white;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  border: 4px outset white;
  height: 4vh;
  line-height: 1.5vh;
  width: 4vh;
  margin: 1vw;
  padding: 0.75vh;
}
.SingleReview {
  margin-top: 1vh;
  border-top: 4px solid rgb(26, 25, 25);
  background-color: #ebeceb;
}

.ReviewList {
  margin-top: 1vh;
  border-top: 4px solid rgb(26, 25, 25);
  background-color: #ebeceb;
}

.ThumbsUpAllReviews{
  max-height: 2vh;
}
.imageSection {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  max-width: 40vw;
  max-height: 25vh;
}

.ReviewImg {
  max-width: 50vw;
  max-height: 30vh;
}

.Reviews {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 20vw;
  height: 25vh;
  padding: 1vh;
  margin: 2vh;
  border: 1vh inset rgb(180, 35, 35);
  background-color: #ebeceb;
}

.Reviews:hover {
  background-color: #d4d2d2;
}

.reviewBody {
  margin: 30px;
}

.userImgComment {
  max-height: 2vh;
}

.ReviewTitle {
  width: 20vw;
  font-size: 2vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AllReviewsDate{
  font-size: 2vh;
}

.AllReviewsImg {
  max-width: 20vw;
  max-height: 10vh;
}

.ArrowButton {
  max-height: 3vh;
  display: flex;
  justify-content: bottom;
  align-items: bottom;
  padding: 20px;
  padding-top: 12vh;
}

.ArrowButton:hover {
  max-height: 4vh;
}

.CommentsBox {
  text-align: left;
  border-top: 4px solid rgb(26, 25, 25);
  padding: 2vh;
  min-height: 38vh;
}

.reviewOwner {
  text-decoration: underline;
}

.CommentAuthor {
  text-decoration: underline;
}

.ReviewVotes {
  font-size: 40px;
  text-align: center;
}

.CommentVotes {
  display: block;
  font-size: 40px;

  max-width: 10vw;
  padding: 4px;
  text-align: left;
}

.CommentBox {
  width: 95vw;
  height: 100px;
}

.EachComment {
  border-bottom: 1px solid black;
}
.submitButton {
  height: 40px;
  width: 100px;
}
.ThumbsUp {
  max-height: 30px;
}

.ThumbsUp:hover {
  border: 3px inset rgb(26, 25, 25);
}

.CommentTitle {
  text-decoration: underline;
}

.users_link {
  padding: 10px;
  margin: 10px;
  color: white;
}

.review_link {
  padding: 10px;
  margin: 10px;

  color: white;
}

.DeleteButton {
  max-height: 3vh;
  margin-left: auto;
  margin-right: 0;
}

/* Dropdown Button */
.dropbtn {
  background-color:  #ebeceb;
  color: rgb(26, 25, 25);
  font-size: 20px;
  display: inline-flex;
  flex-direction: row;
  margin-top: 2.5vh;
  margin-left: 1vw;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn   {color:#ebeceb;;
background-color: rgb(26, 25, 25);}